# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Machine Learning Models and Data
# *.joblib  <-- Add a '#' here or delete the line
*.pkl
*.h5
*.bin
*.safetensors
*.pt
*.pth
*.zip
*.tar.gz

# Operating System Files
.DS_Store
Thumbs.db